<div class="container">
    <a [routerLink]="['/bai1']" class="btn btn-danger">Bài 1</a>&nbsp;
    <a [routerLink]="['/bai2']" class="btn btn-primary">Bài 2</a>&nbsp;
    <a [routerLink]="['/bai3']" class="btn btn-warning">Bài 3</a>&nbsp;
    <a [routerLink]="['/bai4']" class="btn btn-warning">Bài 4</a>&nbsp;
    <a [routerLink]="['/bai5']" class="btn btn-warning">Bài 5</a>&nbsp;
    <a [routerLink]="['/bai6']" class="btn btn-warning">Bài 6</a>&nbsp;
    <a [routerLink]="['/bai7']" class="btn btn-warning">Bài 7</a>&nbsp;
    <a [routerLink]="['/bai8']" class="btn btn-warning">Bài 8</a>&nbsp;
    <router-outlet></router-outlet>
  </div>